In [51]:
# This notebook will be mainly used for the capstone project

In [52]:
import pandas as pd

In [53]:
import numpy as np

In [54]:
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [59]:
# 1- Importing Toronto data in lab
df = pd.read_csv('Toronto.csv')
df

In [76]:
# 2- Drop Not assigned
df.replace("Not assigned", np.nan, inplace = True)
df=df.dropna( axis=0)
df.reset_index(drop=True, inplace=True)
df

,postal code,borough,neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"